.headerLabel {
    font-family: 'Roboto Slab';
    font-size: 1.5vw;
}

.headerLinkLabel {
    vertical-align: middle !important;
}

@media (max-width: 625px) {
    .headerLinkLabel {
        display: none;
    }
}

@media (max-width: 250px) {
    .headerLink {
        display: none;
    }
}
