.spacingToolbar {
    min-height: 1.5rem !important;
}
@media  (min-width: 626px) {
    .headerLabel {
        font-family: 'Roboto Slab' !important;
        font-size: 1.5vw;
    }

    /* .headerLinkLabel {
        vertical-align: middle !important;
    } */

    .mobileMenu {
        display: none !important;
    }
}

@media (max-width: 625px) {
    .headerLinkLabel {
        display: none;
    }

    .mobileMenu {
        display: flex;
    }

    .headerLabel {
        font-size: 2vh;
    }

    .panelText span, .cardHeader span, .headerLabel {
        font-family: 'Roboto Slab' !important;
    }
    .cardHeader span {
        font-size: 1.2rem
    }

    .mobilePanel > div {
        max-width: 80%;
        position: absolute;
    }
}

@media (max-width: 250px) {
    .headerLink {
        display: none;
    }
}
