.headerLabel {
    font-family: 'Roboto Slab';
    font-size: 1.5vw;
}

.headerLinkLabel {
    vertical-align: middle !important;
}

.mobileMenu {
    display: none;
}

@media (max-width: 625px) {
    .headerLinkLabel {
        display: none;
    }

    .mobileMenu {
        display: flex;
    }

    .headerLabel {
        font-size: 2vh;
    }

    .panelText span {
        font-family: 'Roboto Slab';
    }
}

@media (max-width: 250px) {
    .headerLink {
        display: none;
    }
}
