.CustomLink {
    font-family: 'Roboto Slab' !important;
    transition: 0.3s;
    
}

@media (max-width: 520px) {
    .CustomLink {
        font-size: 0.8rem;
    }
}

.CustomLink:hover {
    color: #FFA500;
    transition: 0.3s;
}