@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.footer {
    background: red;
    color: white;
    padding: 20px 0;
    width: 100%;
    min-height: 100%;
}
  
.icon {
    margin: 0.75vw;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    min-height: 100%; /* Make the container at least 100% of the viewport height */
  }


.crLabel {
    font-family: 'Roboto Slab' !important;
}