.Aspirations {
    height: 100%;
}

.parallax {
    margin-bottom: 1rem;
}

.parallax div {
    height: 50vh;
}

.parallaxContainer {
    text-align: center;
    margin-bottom: 1rem;
}

.biography {
    width: 75%;
}

@media (max-width: 600px) {
    .biography {
        width: 90%;
    }

    .parallax div {
        height: 30vh;
    }
}