.Aspirations {
    height: 100%;
}

.parallax {
    height: 50vh;
    margin-bottom: 1rem;
}

.marathonAspiration {
    text-align: center;
}

@media (max-width: 600px) {
    .parallax {
        height: 20vh;
    }
}