.tableContainer, .projectsContainer {
    width: 90%;
    margin: 0 auto;
}

.projectsContainer {
    margin-top: 1%;
    margin-bottom: 2%;
}


.tableCaption {
    font-family: 'Roboto Slab' !important;
    font-size: 80% !important;
}


.overviewContainer {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.link {
    text-decoration: none;
}

@media (max-width: 600px) {
    .overviewContainer {
        width: 90%;
    }
}