.coursePage {
    width: 75%;
    margin: 0 auto;
}

.courseBreadcrumb {
    width: 100%;
    height: 10%;
}

@media (max-width: 600px) {
    /* .currentCoursePage {
        font-size: 0.5rem;
    } */

    .courseBreadcrumb {
        font-size: 1rem;
    }

}