.Experiences {
    width: 90%;
    margin: 0 auto;
}

.experienceImages {
    width: 45%;
    margin-right: 5%;
}

.experienceAccordion {
    margin-top: 1rem;
    width: 50%;
}

@media (max-width: 600px) {
    .experienceImages {
        display: none;
    }

    .experienceAccordion {
        width: 100%;
    }
}