.Experiences {
    width: 90%;
    margin: 0 auto;
}

.experienceImages {
    width: 45%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.experienceAccordion {
    margin-top: 1rem;
    width: 50%;
}