.Home {
  margin: 0 auto;
  width: 50%;
}

.generalSkills {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 75%;
}

.socialMedia {
  margin-bottom: 0.5rem;
}

.skillChip:hover {
  border-color: rgb(13, 110, 253, 1);
  color: rgb(13, 110, 253, 1);
  transition: 0.3s;
}

.skillChip {
  transition: 0.3s !important;
}

.formComponents {
  margin: 0 auto !important;
}

.link {
  text-decoration: none;
}

.resumeContainer {
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 625px) {
  .Home {
      width: 90%;
  }

  .generalSkills {
    width: 90%;
  }
}